* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-size: 62.5%;
  background-color: rgb(3, 48, 88);
  font-family: sans-serif;
}

.container {
  margin: 4rem 8rem;
}

.input-elements {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.input-text {
  background-color: rgba(157, 198, 234, 0.834);
  width: 30rem;
  height: 3rem;
  border-radius: 2rem;
  outline: none;
  padding: 0 1rem;
  font-size: 2rem;
}

.input-btn {
  height: auto;
  padding: 0 1rem;
  border-radius: 2rem;
  cursor: pointer;
  background-color: white;
}

.input-btn:hover {
  background-color: rgba(128, 128, 128, 0.326);
}

.add-new-city {
  color: rgba(157, 198, 234, 0.834);
  cursor: pointer;
  background: none;
  border: none;
}

.add-icon {
  width: 3rem;
  height: 3rem;
}

.mini-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  row-gap: 2rem;
}

.weather {
  background-color: rgba(157, 198, 234, 0.834);
  width: 30rem;
  height: 18rem;
  margin-top: 2rem;
  border-radius: 2rem;
  box-shadow: 2rem 2rem 2rem 1.1rem rgba(0, 0, 0, 0.153);

  display: flex;
  flex-direction: column;

  position: relative;
}

.first-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: auto;
}

.city,
.temperature,
.grades {
  font-size: 2rem;
}

.second-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 1rem;
}

.forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.forecast-date,
.forecast-temperature,
.forecast-grades {
  font-size: 1.4rem;
}

.borderlr {
  border-left: 1px solid rgb(141, 139, 139);
  border-right: 1px solid rgb(141, 139, 139);
  padding: 0 1.6rem;
}

.error-msg {
  background-color: rgba(157, 198, 234, 0.834);
  width: 30rem;
  height: 18rem;
  margin-top: 2rem;
  border-radius: 2rem;
  box-shadow: 2rem 2rem 2rem 1.1rem rgba(0, 0, 0, 0.153);

  display: flex;
  flex-direction: column;

  position: absolute;
  top: 115px;
  left: 244px;

  z-index: 1;
}

.hide {
  visibility: hidden;
}

.hidden-msg {
  font-size: 1.7rem;
  text-align: center;
  margin: 5rem auto;
}

/* Queries */

@media (max-width: 59em) {
  .mini-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
